*{
	padding: 0;
	margin: 0;
	font-family: tahoma;
}

html{
	height: 100%;
}

body{
	height: 100%;
	width: 100%;
	background-color: #DDD;
}

.hover{
	background-color: #AAA;
}

section{
	width: 1024px;
	background-color: #FFF;
	display: block;
	margin: auto;
}

section *{
	display: block;
	width: 80%;
	margin: auto;
}
